*.suo
packages/
Logs/
bin/
obj/
.vs
*.dll
*.cache
*.pdb
node_modules/
*.map
App/app/app.component.js
App/app/app.routes.js
App/app/candidates/candidates.component.js
App/app/demands/demands.component.js
App/app/shared/candidate.js
App/app/shared/demand.js
App/app/shared/vacancies.service.js
App/app/vacancies/vacancies.component.js
App/app/vacancies/vacancyForm.component.js
App/app/app.module.js
App/app/candidates/candidateForm.component.js
App/app/demands/demandForm.component.js
App/app/main.js
App/app/shared/demands.service.js
App/app/shared/candidates.service.js
App/app/vacancies/vacancy.component.js
App/app/shared/vacancy.js
App/app/vacancies/vacancyCandidateForm.component.js
App/app/demands/demand.component.js
App/app/demands/demandStaffForm.component.js
App/app/shared/staff.js
App/app/shared/staff.service.js
App/app/staff/staff.component.js
App/app/staff/staffForm.component.js
